<section id="home">
    <app-theme-switcher></app-theme-switcher>
    <img src="/assets/images/home/portrait2.webp" alt="Portait" class="portrait">
    <section class="infos">
        <h1>Hello, c'est Florian GUILLOU</h1>
        <div class="flags">
            <figure class="flag">
                <img src="/assets/images/home/gwenn_ha_du.webp" alt="Drapeau breton" />
                <figcaption>Bretagne</figcaption>
            </figure>
            <figure class="flag">
                <img src="/assets/images/home/drapeau_fr.webp" alt="Drapeau français" />
                <figcaption>France</figcaption>
            </figure>
        </div>
        <h3>Développeur Full Stack</h3>
    </section>
    <img src="/assets/images/home/sea.svg" alt="Mer" class="sea">
</section>