section#home {
    height: 100%;
    width: 100%;

    position: relative;

    font-family: 'Kavivanar', 'Roboto-condensed', sans-serif;
    color: var(--font-color);

    app-theme-switcher {
        position: absolute;
        top: 10dvh;
        right: 5dvw;
    }

    .portrait {
        height: 30dvh;
        border-radius: 50%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2dvw;

    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 1dvh;

        height: 30dvh;

        h1 {
            font-size: 5rem;
            margin: 0;
        }

        .flags {
            display: flex;
            column-gap: 2dvw;

            figure {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;

                img {
                    height: 5rem;
                    border-radius: 5px;
                }

                figcaption {
                    font-size: 1.5rem;
                }
            }
        }

        h3 {
            font-size: 2.5rem;
            margin: 0;
        }
    }

    img.sea {
        position: absolute;
        bottom: 0;

        width: 100dvw;
    }
}